<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moresmallmagicinfo.name %>
</p>

<p>
  <b>Category:</b>
  <%= @moresmallmagicinfo.category_id %>
</p>

<p>
  <b>Inst dmg:</b>
  <%= @moresmallmagicinfo.inst_dmg %>
</p>

<p>
  <b>Amt dmg:</b>
  <%= @moresmallmagicinfo.amt_dmg %>
</p>

<p>
  <b>Inst heal:</b>
  <%= @moresmallmagicinfo.inst_heal %>
</p>

<p>
  <b>Amt heal:</b>
  <%= @moresmallmagicinfo.amt_heal %>
</p>

<p>
  <b>Duration:</b>
  <%= @moresmallmagicinfo.duration %>
</p>

<p>
  <b>Accuracy:</b>
  <%= @moresmallmagicinfo.accuracy %>
</p>

<p>
  <b>Range:</b>
  <%= @moresmallmagicinfo.range %>
</p>

<p>
  <b>Mp cost:</b>
  <%= @moresmallmagicinfo.mp_cost %>
</p>


<%= link_to 'Edit', edit_moresmallmagicinfo_path(@moresmallmagicinfo) %> |
<%= link_to 'Back', moresmallmagicinfos_path %>
