<h1>Listing mostsmalltrapeffectinventories</h1>

<table>
  <tr>
    <th>Mostsmalltraplvltbl</th>
    <th>Mostsmalleffect</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmalltrapeffectinventories.each do |mostsmalltrapeffectinventory| %>
  <tr>
    <td><%= mostsmalltrapeffectinventory.mostsmalltraplvltbl.name %></td>
    <td><%= mostsmalltrapeffectinventory.mostsmalleffect.name %></td>
    <td><%= link_to 'Show', mostsmalltrapeffectinventory %></td>
    <td><%= link_to 'Edit', edit_mostsmalltrapeffectinventory_path(mostsmalltrapeffectinventory) %></td>
    <td><%= link_to 'Destroy', mostsmalltrapeffectinventory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmalltrapeffectinventory', new_mostsmalltrapeffectinventory_path %>
