<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmalltrapinfo:</b>
  <%= @mostsmalltrapeffectinventory.mostsmalltrapinfo.name %>
</p>

<p>
  <b>Level:</b>
  <%= @mostsmalltrapeffectinventory.level %>
</p>

<p>
  <b>Mostsmalleffect:</b>
  <%= @mostsmalltrapeffectinventory.mostsmalleffect.name %>
</p>


<%= link_to 'Edit', edit_mostsmalltrapeffectinventory_path(@mostsmalltrapeffectinventory) %> |
<%= link_to 'Back', mostsmalltrapeffectinventories_path %>
