<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmalltraplvltbl:</b>
  <%= @mostsmalltrapeffectinventory.mostsmalltraplvltbl.name %>
</p>

<p>
  <b>Mostsmalleffect:</b>
  <%= @mostsmalltrapeffectinventory.mostsmalleffect.name %>
</p>


<%= link_to 'Edit', edit_mostsmalltrapeffectinventory_path(@mostsmalltrapeffectinventory) %> |
<%= link_to 'Back', mostsmalltrapeffectinventories_path %>
