<h1>Listing mostsmallspeciejobinventories</h1>

<table>
  <tr>
    <th>Mostsmallmobspecie</th>
    <th>Mostsmalljob</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallspeciejobinventories.each do |mostsmallspeciejobinventory| %>
  <tr>
    <td><%= mostsmallspeciejobinventory.mostsmallmobspecie.name %></td>
    <td><%= mostsmallspeciejobinventory.mostsmalljob.name %></td>
    <td><%= link_to 'Show', mostsmallspeciejobinventory %></td>
    <td><%= link_to 'Edit', edit_mostsmallspeciejobinventory_path(mostsmallspeciejobinventory) %></td>
    <td><%= link_to 'Destroy', mostsmallspeciejobinventory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallspeciejobinventory', new_mostsmallspeciejobinventory_path %>
