<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmallmobspecie:</b>
  <%= @mostsmallspeciejobinventory.mostsmallmobspecie.name %>
</p>

<p>
  <b>Mostsmalljob:</b>
  <%= @mostsmallspeciejobinventory.mostsmalljob.name %>
</p>


<%= link_to 'Edit', edit_mostsmallspeciejobinventory_path(@mostsmallspeciejobinventory) %> |
<%= link_to 'Back', mostsmallspeciejobinventories_path %>
