<%= form_for(@mostsmalljob) do |f| %>
  <% if @mostsmalljob.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mostsmalljob.errors.count, "error") %> prohibited this mostsmalljob from being saved:</h2>

      <ul>
      <% @mostsmalljob.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :growth_mod %><br />
    <%= f.text_field :growth_mod %>
  </div>
  <div class="field">
    <%= f.label :wepon_lvl %><br />
    <%= f.number_field :wepon_lvl %>
  </div>
  <div class="field">
    <%= f.label :armor_lvl %><br />
    <%= f.number_field :armor_lvl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
