<%= form_for(@medium_item) do |f| %>
  <% if @medium_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium_item.errors.count, "error") %> prohibited this medium_item from being saved:</h2>

      <ul>
      <% @medium_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medium_item_info %><br />
    <%= f.collection_select(:medium_item_info_id, MediumItemInfo.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :medium_houdd_user %><br />
    <%= f.collection_select(:medium_houdd_user_id, MediumHouddUser.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :dp %><br />
    <%= f.number_field :dp %>
  </div>
  <div class="field">
    <%= f.label :quality %><br />
    <%= f.number_field :quality %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
