<%= form_for(@mostsmallmobspecie) do |f| %>
  <% if @mostsmallmobspecie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mostsmallmobspecie.errors.count, "error") %> prohibited this mostsmallmobspecy from being saved:</h2>

      <ul>
      <% @mostsmallmobspecie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :prolificacy %><br />
    <%= f.text_field :prolificacy %>
  </div>
  <div class="field">
    <%= f.label :longevity %><br />
    <%= f.text_field :longevity %>
  </div>
  <div class="field">
    <%= f.label :growth_mod %><br />
    <%= f.text_field :growth_mod %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="field">
    <%= f.label :str %><br />
    <%= f.number_field :str %>
  </div>
  <div class="field">
    <%= f.label :dex %><br />
    <%= f.number_field :dex %>
  </div>
  <div class="field">
    <%= f.label :con %><br />
    <%= f.number_field :con %>
  </div>
  <div class="field">
    <%= f.label :int %><br />
    <%= f.number_field :int %>
  </div>
  <div class="field">
    <%= f.label :wis %><br />
    <%= f.number_field :wis %>
  </div>
  <div class="field">
    <%= f.label :cha %><br />
    <%= f.number_field :cha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
