<h1>Listing mostsmallmobspecies</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Prolificacy</th>
    <th>Longevity</th>
    <th>Growth mod</th>
    <th>Cost</th>
    <th>Str</th>
    <th>Dex</th>
    <th>Con</th>
    <th>Int</th>
    <th>Wis</th>
    <th>Cha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallmobspecies.each do |mostsmallmobspecie| %>
  <tr>
    <td><%= mostsmallmobspecie.id %></td>
    <td><%= mostsmallmobspecie.name %></td>
    <td><%= mostsmallmobspecie.prolificacy %></td>
    <td><%= mostsmallmobspecie.longevity %></td>
    <td><%= mostsmallmobspecie.growth_mod %></td>
    <td><%= mostsmallmobspecie.cost %></td>
    <td><%= mostsmallmobspecie.str %></td>
    <td><%= mostsmallmobspecie.dex %></td>
    <td><%= mostsmallmobspecie.con %></td>
    <td><%= mostsmallmobspecie.int %></td>
    <td><%= mostsmallmobspecie.wis %></td>
    <td><%= mostsmallmobspecie.cha %></td>
    <td><%= link_to 'Show', mostsmallmobspecie %></td>
    <td><%= link_to 'Edit', edit_mostsmallmobspecy_path(mostsmallmobspecie) %></td>
    <td><%= link_to 'Destroy', mostsmallmobspecie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallmobspecie', new_mostsmallmobspecy_path %>
