<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallmobspecie.name %>
</p>

<p>
  <b>Prolificacy:</b>
  <%= @mostsmallmobspecie.prolificacy %>
</p>

<p>
  <b>Longevity:</b>
  <%= @mostsmallmobspecie.longevity %>
</p>

<p>
  <b>Growth mod:</b>
  <%= @mostsmallmobspecie.growth_mod %>
</p>

<p>
  <b>Cost:</b>
  <%= @mostsmallmobspecie.cost %>
</p>

<p>
  <b>Str:</b>
  <%= @mostsmallmobspecie.str %>
</p>

<p>
  <b>Dex:</b>
  <%= @mostsmallmobspecie.dex %>
</p>

<p>
  <b>Con:</b>
  <%= @mostsmallmobspecie.con %>
</p>

<p>
  <b>Int:</b>
  <%= @mostsmallmobspecie.int %>
</p>

<p>
  <b>Wis:</b>
  <%= @mostsmallmobspecie.wis %>
</p>

<p>
  <b>Cha:</b>
  <%= @mostsmallmobspecie.cha %>
</p>


<%= link_to 'Edit', edit_mostsmallmobspecy_path(@mostsmallmobspecie) %> |
<%= link_to 'Back', mostsmallmobspecies_path %>
