<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallmobspecie.name %>
</p>

<p>
  <b>Prolificacy:</b>
  <%= @mostsmallmobspecie.prolificacy %>
</p>

<p>
  <b>Longevity:</b>
  <%= @mostsmallmobspecie.longevity %>
</p>

<p>
  <b>Cost:</b>
  <%= @mostsmallmobspecie.cost %>
</p>

<p>
  <b>Damage:</b>
  <%= @mostsmallmobspecie.damage %>
</p>

<p>
  <b>AC:</b>
  <%= @mostsmallmobspecie.ac %>
</p>


<%= link_to 'Edit', edit_mostsmallmobspecy_path(@mostsmallmobspecie) %> |
<%= link_to 'Back', mostsmallmobspecies_path %>
