<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmalluser:</b>
  <%= @mostsmallsquad.mostsmalluser.name %>
</p>

<p>
  <b>Mostsmallterritory:</b>
  <%= @mostsmallsquad.mostsmallterritory.name %>
</p>

<p>
  <b>Name:</b>
  <%= @mostsmallsquad.name %>
</p>


<%= link_to 'Edit', edit_mostsmallsquad_path(@mostsmallsquad) %> |
<%= link_to 'Back', mostsmallsquads_path %>
