<%= form_for(@medium_squad) do |f| %>
  <% if @medium_squad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium_squad.errors.count, "error") %> prohibited this medium_squad from being saved:</h2>

      <ul>
      <% @medium_squad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medium_houdd_user %><br />
    <%= f.collection_select(:medium_houdd_user_id, MediumHouddUser.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :medium_map %><br />
    <%= f.collection_select(:medium_map_id, MediumMap.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
