<p id="notice"><%= notice %></p>

<p>
  <b>Medium houdd user:</b>
  <%= @medium_squad.medium_houdd_user.name unless @medium_squad.medium_houdd_user.blank? %>
</p>

<p>
  <b>Medium map:</b>
  <%= @medium_squad.medium_map.name unless @medium_squad.medium_map.blank? %>
</p>

<p>
  <b>Name:</b>
  <%= @medium_squad.name %>
</p>


<%= link_to 'Edit', edit_medium_squad_path(@medium_squad) %> |
<%= link_to 'Back', medium_squads_path %>
