<h1>Listing mostsmalltrials</h1>

<table>
  <tr>
    <th>Mostsmallterritory</th>
    <th>Territory name</th>
    <th>Def mission</th>
    <th>Atk mission</th>
    <th>Occured at</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmalltrials.each do |mostsmalltrial| %>
  <tr>
    <td><%= mostsmalltrial.mostsmallterritory.name %></td>
    <td><%= mostsmalltrial.territory_name %></td>
    <td><%= mostsmalltrial.def_mission.name %></td>
    <td><%= mostsmalltrial.atk_mission.name %></td>
    <td><%= mostsmalltrial.occured_at %></td>
    <td><%= link_to 'Show', mostsmalltrial %></td>
    <td><%= link_to 'Edit', edit_mostsmalltrial_path(mostsmalltrial) %></td>
    <td><%= link_to 'Destroy', mostsmalltrial, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Log', log_mostsmalltrial_path(mostsmalltrial) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmalltrial', new_mostsmalltrial_path %>
