<%= form_for(@tinymap) do |f| %>
  <% if @tinymap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tinymap.errors.count, "error") %> prohibited this tinymap from being saved:</h2>

      <ul>
      <% @tinymap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :map %><br />
    <%= f.text_area :map %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
