<h1>Listing mostsmallmissioncategories</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallmissioncategories.each do |mostsmallmissioncategory| %>
  <tr>
    <td><%= mostsmallmissioncategory.id %></td>
    <td><%= mostsmallmissioncategory.name %></td>
    <td><%= link_to 'Show', mostsmallmissioncategory %></td>
    <td><%= link_to 'Edit', edit_mostsmallmissioncategory_path(mostsmallmissioncategory) %></td>
    <td><%= link_to 'Destroy', mostsmallmissioncategory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallmissioncategory', new_mostsmallmissioncategory_path %>
