<h1>Listing mostsmallelements</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallelements.each do |mostsmallelement| %>
  <tr>
    <td><%= mostsmallelement.id %></td>
    <td><%= mostsmallelement.name %></td>
    <td><%= link_to 'Show', mostsmallelement %></td>
    <td><%= link_to 'Edit', edit_mostsmallelement_path(mostsmallelement) %></td>
    <td><%= link_to 'Destroy', mostsmallelement, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallelement', new_mostsmallelement_path %>
