<h1>Listing moresmallmobinfos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Max hp</th>
    <th>Max mp</th>
    <th>Str</th>
    <th>Dex</th>
    <th>Int</th>
    <th>Wis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moresmallmobinfos.each do |moresmallmobinfo| %>
  <tr>
    <td><%= moresmallmobinfo.name %></td>
    <td><%= moresmallmobinfo.category_id %></td>
    <td><%= moresmallmobinfo.max_hp %></td>
    <td><%= moresmallmobinfo.max_mp %></td>
    <td><%= moresmallmobinfo.str %></td>
    <td><%= moresmallmobinfo.dex %></td>
    <td><%= moresmallmobinfo.int %></td>
    <td><%= moresmallmobinfo.wis %></td>
    <td><%= link_to 'Show', moresmallmobinfo %></td>
    <td><%= link_to 'Edit', edit_moresmallmobinfo_path(moresmallmobinfo) %></td>
    <td><%= link_to 'Destroy', moresmallmobinfo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moresmallmobinfo', new_moresmallmobinfo_path %>
