<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @moresmallmobinfo.name %>
</p>

<p>
  <b>Category:</b>
  <%= @moresmallmobinfo.category_id %>
</p>

<p>
  <b>Max hp:</b>
  <%= @moresmallmobinfo.max_hp %>
</p>

<p>
  <b>Max mp:</b>
  <%= @moresmallmobinfo.max_mp %>
</p>

<p>
  <b>Str:</b>
  <%= @moresmallmobinfo.str %>
</p>

<p>
  <b>Dex:</b>
  <%= @moresmallmobinfo.dex %>
</p>

<p>
  <b>Int:</b>
  <%= @moresmallmobinfo.int %>
</p>

<p>
  <b>Wis:</b>
  <%= @moresmallmobinfo.wis %>
</p>


<%= link_to 'Edit', edit_moresmallmobinfo_path(@moresmallmobinfo) %> |
<%= link_to 'Back', moresmallmobinfos_path %>
