<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmallskill:</b>
  <%= @mostsmallskilleffectinventory.mostsmallskill.name %>
</p>

<p>
  <b>Mostsmalleffect:</b>
  <%= @mostsmallskilleffectinventory.mostsmalleffect.name %>
</p>


<%= link_to 'Edit', edit_mostsmallskilleffectinventory_path(@mostsmallskilleffectinventory) %> |
<%= link_to 'Back', mostsmallskilleffectinventories_path %>
