<h1>Listing mostsmallmissions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Territory</th>
    <th>Missioncategory</th>
    <th>Strategy</th>
    <th>Priority</th>
    <th>Remaining period</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallmissions.each do |mostsmallmission| %>
  <tr>
    <td><%= mostsmallmission.mostsmalluser.name %></td>
    <td><%= mostsmallmission.mostsmallterritory.name %></td>
    <td><%= mostsmallmission.mostsmallmissioncategory.name %></td>
    <td><%= mostsmallmission.mostsmallstrategy.name %></td>
    <td><%= mostsmallmission.priority %></td>
    <td><%= mostsmallmission.remaining_period %></td>
    <td><%= link_to 'Show', mostsmallmission %></td>
    <td><%= link_to 'Edit', edit_mostsmallmission_path(mostsmallmission) %></td>
    <td><%= link_to 'Destroy', mostsmallmission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallmission', new_mostsmallmission_path %>
