<p id="notice"><%= notice %></p>

<p>
  <b>Medium family:</b>
  <%= @medium_specie.medium_family.name %>
</p>

<p>
  <b>Name:</b>
  <%= @medium_specie.name %>
</p>

<p>
  <b>Prolificacy:</b>
  <%= @medium_specie.prolificacy %>
</p>

<p>
  <b>Longevity:</b>
  <%= @medium_specie.longevity %>
</p>

<p>
  <b>Growth rate:</b>
  <%= @medium_specie.growth_rate %>
</p>

<p>
  <b>Cost:</b>
  <%= @medium_specie.cost %>
</p>

<p>
  <b>Str:</b>
  <%= @medium_specie.str %>
</p>

<p>
  <b>Dex:</b>
  <%= @medium_specie.dex %>
</p>

<p>
  <b>Con:</b>
  <%= @medium_specie.con %>
</p>

<p>
  <b>Int:</b>
  <%= @medium_specie.int %>
</p>

<p>
  <b>Wis:</b>
  <%= @medium_specie.wis %>
</p>

<p>
  <b>Cha:</b>
  <%= @medium_specie.cha %>
</p>

<p>
  <b>Phys def:</b>
  <%= @medium_specie.phys_def %>
</p>

<p>
  <b>Skill def:</b>
  <%= @medium_specie.skill_def %>
</p>

<p>
  <b>Ele fw mod:</b>
  <%= @medium_specie.ele_fw_mod %>
</p>

<p>
  <b>Ele ld mod:</b>
  <%= @medium_specie.ele_ld_mod %>
</p>

<p>
  <b>Ability sym:</b>
  <%= @medium_specie.ability_sym %>
</p>


<%= link_to 'Edit', edit_medium_specy_path(@medium_specie) %> |
<%= link_to 'Back', medium_species_path %>
