<%= form_for(@medium_item_info) do |f| %>
  <% if @medium_item_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium_item_info.errors.count, "error") %> prohibited this medium_item_info from being saved:</h2>

      <ul>
      <% @medium_item_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_category_sym %><br />
    <%= f.text_field :item_category_sym %>
  </div>
  <div class="field">
    <%= f.label :weight_level %><br />
    <%= f.number_field :weight_level %>
  </div>
  <div class="field">
    <%= f.label :medium_body_part %><br />
    <%= f.collection_select(:medium_body_part_id, MediumBodyPart.find(:all), :id, :name, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :slot_num %><br />
    <%= f.number_field :slot_num %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :max_dp %><br />
    <%= f.number_field :max_dp %>
  </div>
  <div class="field">
    <%= f.label :phys_def %><br />
    <%= f.number_field :phys_def %>
  </div>
  <div class="field">
    <%= f.label :skill_def %><br />
    <%= f.number_field :skill_def %>
  </div>
  <div class="field">
    <%= f.label :medium_atk_info %><br />
    <%= f.collection_select(:medium_atk_info_id, MediumAtkInfo.find(:all), :id, :name, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :medium_status_mod %><br />
    <%= f.collection_select(:medium_status_mod_id, MediumStatusMod.find(:all), :id, :name, :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :prod_point %><br />
    <%= f.number_field :prod_point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
