<h1>Listing mostsmallterrains</h1>

<table>
  <tr>
    <th>Symbol</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallterrains.each do |mostsmallterrain| %>
  <tr>
    <td><%= mostsmallterrain.symbol %></td>
    <td><%= mostsmallterrain.name %></td>
    <td><%= link_to 'Show', mostsmallterrain %></td>
    <td><%= link_to 'Edit', edit_mostsmallterrain_path(mostsmallterrain) %></td>
    <td><%= link_to 'Destroy', mostsmallterrain, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallterrain', new_mostsmallterrain_path %>
