<p id="notice"><%= notice %></p>

<p>
  <b>Symbol:</b>
  <%= @mostsmallterrain.symbol %>
</p>

<p>
  <b>Name:</b>
  <%= @mostsmallterrain.name %>
</p>


<%= link_to 'Edit', edit_mostsmallterrain_path(@mostsmallterrain) %> |
<%= link_to 'Back', mostsmallterrains_path %>
