<p id="notice"><%= notice %></p>

<p>
  <b>Medium construction:</b>
  <%= @medium_const_nec_res_inv.medium_construction %>
</p>

<p>
  <b>Medium resource:</b>
  <%= @medium_const_nec_res_inv.medium_resource %>
</p>


<%= link_to 'Edit', edit_medium_const_nec_res_inv_path(@medium_const_nec_res_inv) %> |
<%= link_to 'Back', medium_const_nec_res_invs_path %>
