<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmalleffect.name %>
</p>

<p>
  <b>Damage:</b>
  <%= @mostsmalleffect.damage %>
</p>

<p>
  <b>Ac:</b>
  <%= @mostsmalleffect.ac %>
</p>

<p>
  <b>Sp mod:</b>
  <%= @mostsmalleffect.sp_mod %>
</p>

<p>
  <b>Str mod:</b>
  <%= @mostsmalleffect.str_mod %>
</p>

<p>
  <b>Dex mod:</b>
  <%= @mostsmalleffect.dex_mod %>
</p>

<p>
  <b>Con mod:</b>
  <%= @mostsmalleffect.con_mod %>
</p>

<p>
  <b>Int mod:</b>
  <%= @mostsmalleffect.int_mod %>
</p>

<p>
  <b>Wis mod:</b>
  <%= @mostsmalleffect.wis_mod %>
</p>

<p>
  <b>Cha mod:</b>
  <%= @mostsmalleffect.cha_mod %>
</p>

<p>
  <b>Duration:</b>
  <%= @mostsmalleffect.duration %>
</p>


<%= link_to 'Edit', edit_mostsmalleffect_path(@mostsmalleffect) %> |
<%= link_to 'Back', mostsmalleffects_path %>
