<h1>Listing smalltops</h1>

<table>
  <tr>
    <th>Smalluser</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smalltops.each do |smalltop| %>
  <tr>
    <td><%= smalltop.smalluser.name %></td>
    <td><%= link_to 'Show', smalltop %></td>
    <td><%= link_to 'Edit', edit_smalltop_path(smalltop) %></td>
    <td><%= link_to 'Destroy', smalltop, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Portal', portal_smalltops_path(smalltop) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smalltop', new_smalltop_path %>
