<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmallmobspecie:</b>
  <%= @mostsmallmoblvltbl.mostsmallmobspecie.name %>
</p>

<p>
  <b>Level:</b>
  <%= @mostsmallmoblvltbl.level %>
</p>

<p>
  <b>Exp:</b>
  <%= @mostsmallmoblvltbl.exp %>
</p>

<p>
  <b>Max hp:</b>
  <%= @mostsmallmoblvltbl.max_hp %>
</p>

<p>
  <b>Max sp:</b>
  <%= @mostsmallmoblvltbl.max_sp %>
</p>

<p>
  <b>Str:</b>
  <%= @mostsmallmoblvltbl.str %>
</p>

<p>
  <b>Dex:</b>
  <%= @mostsmallmoblvltbl.dex %>
</p>

<p>
  <b>Con:</b>
  <%= @mostsmallmoblvltbl.con %>
</p>

<p>
  <b>Int:</b>
  <%= @mostsmallmoblvltbl.int %>
</p>

<p>
  <b>Wis:</b>
  <%= @mostsmallmoblvltbl.wis %>
</p>

<p>
  <b>Cha:</b>
  <%= @mostsmallmoblvltbl.cha %>
</p>


<%= link_to 'Edit', edit_mostsmallmoblvltbl_path(@mostsmallmoblvltbl) %> |
<%= link_to 'Back', mostsmallmoblvltbls_path %>
