<%= form_for(@mostsmalltraplvltbl) do |f| %>
  <% if @mostsmalltraplvltbl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mostsmalltraplvltbl.errors.count, "error") %> prohibited this mostsmalltraplvltbl from being saved:</h2>

      <ul>
      <% @mostsmalltraplvltbl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mostsmalltrapinfo %><br />
    <%= f.collection_select(:mostsmalltrapinfo_id, Mostsmalltrapinfo.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="field">
    <%= f.label :max_dp %><br />
    <%= f.number_field :max_dp %>
  </div>
  <div class="field">
    <%= f.label :disarm_diff %><br />
    <%= f.number_field :disarm_diff %>
  </div>
  <div class="field">
    <%= f.label :num_of_tgt %><br />
    <%= f.number_field :num_of_tgt %>
  </div>
  <div class="field">
    <%= f.label :damage %><br />
    <%= f.number_field :damage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
