<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmalltrapinfo:</b>
  <%= @mostsmalltraplvltbl.mostsmalltrapinfo.name %>
</p>

<p>
  <b>Level:</b>
  <%= @mostsmalltraplvltbl.level %>
</p>

<p>
  <b>Max dp:</b>
  <%= @mostsmalltraplvltbl.max_dp %>
</p>

<p>
  <b>Disarm diff:</b>
  <%= @mostsmalltraplvltbl.disarm_diff %>
</p>

<p>
  <b>Num of tgt:</b>
  <%= @mostsmalltraplvltbl.num_of_tgt %>
</p>

<p>
  <b>Damage:</b>
  <%= @mostsmalltraplvltbl.damage %>
</p>


<%= link_to 'Edit', edit_mostsmalltraplvltbl_path(@mostsmalltraplvltbl) %> |
<%= link_to 'Back', mostsmalltraplvltbls_path %>
