<h1>Listing smalltrials</h1>

<table>
  <tr>
    <th>Smallmap</th>
    <th>Def mobunit</th>
    <th>Atk mobunit</th>
    <th>Smalltrialstatus</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smalltrials.each do |smalltrial| %>
  <tr>
    <td><%= smalltrial.smallmap.name %></td>
    <td><%= smalltrial.def_mobunit.name %></td>
    <td><%= smalltrial.atk_mobunit.name %></td>
    <td><%= smalltrial.smalltrialstatus.name %></td>
    <td><%= link_to 'Show', smalltrial %></td>
    <td><%= link_to 'Edit', edit_smalltrial_path(smalltrial) %></td>
    <td><%= link_to 'Destroy', smalltrial, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Log', log_smalltrial_path(smalltrial) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smalltrial', new_smalltrial_path %>
