<%= form_for(@smallmagicinfo) do |f| %>
  <% if @smallmagicinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smallmagicinfo.errors.count, "error") %> prohibited this smallmagicinfo from being saved:</h2>

      <ul>
      <% @smallmagicinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :heal %><br />
    <%= f.number_field :high_heal %> / <%= f.number_field :low_heal %>
  </div>
  <div class="field">
    <%= f.label :damage %><br />
    <%= f.number_field :high_damage %> / <%= f.number_field :low_damage %>
  </div>
  <div class="field">
    <%= f.label :mp_cost %><br />
    <%= f.number_field :mp_cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
