<h1>Listing smallmobs</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Smallmobinfo</th>
    <th>Smalluser</th>
    <th>Name</th>
    <th>Hp</th>
    <th>Mp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smallmobs.each do |smallmob| %>
  <tr>
    <td><%= smallmob.id %></td>
    <td><%= smallmob.smallmobinfo.name %></td>
    <td><%= smallmob.smalluser.name %></td>
    <td><%= smallmob.name %></td>
    <td><%= smallmob.hp %></td>
    <td><%= smallmob.mp %></td>
    <td><%= link_to 'Show', smallmob %></td>
    <td><%= link_to 'Edit', edit_smallmob_path(smallmob) %></td>
    <td><%= link_to 'Destroy', smallmob, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smallmob', new_smallmob_path %>
