<%= form_for(@moresmallweponinfo) do |f| %>
  <% if @moresmallweponinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moresmallweponinfo.errors.count, "error") %> prohibited this moresmallweponinfo from being saved:</h2>

      <ul>
      <% @moresmallweponinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :atk %><br />
    <%= f.number_field :atk %>
  </div>
  <div class="field">
    <%= f.label :accuracy %><br />
    <%= f.number_field :accuracy %>
  </div>
  <div class="field">
    <%= f.label :range %><br />
    <%= f.number_field :range %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
