<p id="notice"><%= notice %></p>

<p>
  <b>Mosttinyturn:</b>
  <%= @mosttinymobtrail.mosttinyturn %>
</p>

<p>
  <b>Mosttinymob:</b>
  <%= @mosttinymobtrail.mosttinymob %>
</p>

<p>
  <b>Trail:</b>
  <%= @mosttinymobtrail.trail %>
</p>


<%= link_to 'Edit', edit_mosttinymobtrail_path(@mosttinymobtrail) %> |
<%= link_to 'Back', mosttinymobtrails_path %>
