<h1>Listing mostsmallresources</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallresources.each do |mostsmallresource| %>
  <tr>
    <td><%= mostsmallresource.id %></td>
    <td><%= mostsmallresource.name %></td>
    <td><%= link_to 'Show', mostsmallresource %></td>
    <td><%= link_to 'Edit', edit_mostsmallresource_path(mostsmallresource) %></td>
    <td><%= link_to 'Destroy', mostsmallresource, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallresource', new_mostsmallresource_path %>
