<h1>Listing mosttinytrials</h1>

<table>
  <tr>
    <th>Def user</th>
    <th>Map</th>
    <th>Atk user</th>
    <th>is completed</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mosttinytrials.each do |mosttinytrial| %>
  <tr>
    <td><%= mosttinytrial.def_user.name %></td>
    <td><%= mosttinytrial.map.name %></td>
    <td><%= mosttinytrial.atk_user.name %></td>
    <td><%= mosttinytrial.is_completed %></td>
    <td><%= link_to 'Show', mosttinytrial %></td>
    <td><%= link_to 'Edit', edit_mosttinytrial_path(mosttinytrial) %></td>
    <td><%= link_to 'Destroy', mosttinytrial, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'Start', start_mosttinytrial_path(mosttinytrial) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mosttinytrial', new_mosttinytrial_path %>
