<h1>Listing moresmalltrialstatuses</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moresmalltrialstatuses.each do |moresmalltrialstatus| %>
  <tr>
    <td><%= moresmalltrialstatus.id %></td>
    <td><%= moresmalltrialstatus.name %></td>
    <td><%= link_to 'Show', moresmalltrialstatus %></td>
    <td><%= link_to 'Edit', edit_moresmalltrialstatus_path(moresmalltrialstatus) %></td>
    <td><%= link_to 'Destroy', moresmalltrialstatus, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moresmalltrialstatus', new_moresmalltrialstatus_path %>
