<h1>Listing mostsmallskills</h1>

<table>
  <tr>
    <th>Skillcategory</th>
    <th>Job</th>
    <th>Job level</th>
    <th>Element</th>
    <th>Name</th>
    <th>Sp cost</th>
    <th>Num of tgt</th>
    <th>Accuracy</th>
    <th>Range</th>
    <th>Damage</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallskills.each do |mostsmallskill| %>
  <tr>
    <td><%= mostsmallskill.mostsmallskillcategory.name %></td>
    <td><%= mostsmallskill.mostsmalljob.name %></td>
    <td><%= mostsmallskill.job_level %></td>
    <td><%= mostsmallskill.mostsmallelement.name %></td>
    <td><%= mostsmallskill.name %></td>
    <td><%= mostsmallskill.sp_cost %></td>
    <td><%= mostsmallskill.num_of_tgt %></td>
    <td><%= mostsmallskill.accuracy %></td>
    <td><%= mostsmallskill.range %></td>
    <td><%= mostsmallskill.damage %></td>
    <td><%= link_to 'Show', mostsmallskill %></td>
    <td><%= link_to 'Edit', edit_mostsmallskill_path(mostsmallskill) %></td>
    <td><%= link_to 'Destroy', mostsmallskill, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallskill', new_mostsmallskill_path %>
