<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmallskillcategory:</b>
  <%= @mostsmallskill.mostsmallskillcategory.name %>
</p>

<p>
  <b>Mostsmalljob:</b>
  <%= @mostsmallskill.mostsmalljob.name %>
</p>

<p>
  <b>Job level:</b>
  <%= @mostsmallskill.job_level %>
</p>

<p>
  <b>Mostsmallelement:</b>
  <%= @mostsmallskill.mostsmallelement.name %>
</p>

<p>
  <b>Name:</b>
  <%= @mostsmallskill.name %>
</p>

<p>
  <b>Sp cost:</b>
  <%= @mostsmallskill.sp_cost %>
</p>

<p>
  <b>Num of tgt:</b>
  <%= @mostsmallskill.num_of_tgt %>
</p>

<p>
  <b>Accuracy:</b>
  <%= @mostsmallskill.accuracy %>
</p>

<p>
  <b>Range:</b>
  <%= @mostsmallskill.range %>
</p>

<p>
  <b>Damage:</b>
  <%= @mostsmallskill.damage %>
</p>


<%= link_to 'Edit', edit_mostsmallskill_path(@mostsmallskill) %> |
<%= link_to 'Back', mostsmallskills_path %>
