<p id="notice"><%= notice %></p>

<p>
  <b>Medium dungeon cell:</b>
  <%= @medium_tc_item_inv.medium_dungeon_cell %>
</p>

<p>
  <b>Medium item:</b>
  <%= @medium_tc_item_inv.medium_item %>
</p>


<%= link_to 'Edit', edit_medium_tc_item_inv_path(@medium_tc_item_inv) %> |
<%= link_to 'Back', medium_tc_item_invs_path %>
