<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmallequipslot:</b>
  <%= @mostsmallequipslotinventory.mostsmallequipslot.name %>
</p>

<p>
  <b>Mostsmallmobspecie:</b>
  <%= @mostsmallequipslotinventory.mostsmallmobspecie.name %>
</p>


<%= link_to 'Edit', edit_mostsmallequipslotinventory_path(@mostsmallequipslotinventory) %> |
<%= link_to 'Back', mostsmallequipslotinventories_path %>
