<h1>Listing mostsmallmobs</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Mobgene</th>
    <th>Level</th>
    <th>Job</th>
    <th>J-level</th>
    <th>User</th>
    <th>Squad</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Hp</th>
    <th>Sp</th>
    <th>Str</th>
    <th>Dex</th>
    <th>Con</th>
    <th>Int</th>
    <th>Wis</th>
    <th>Cha</th>
    <th>B-exp</th>
    <th>J-exp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallmobs.each do |mostsmallmob| %>
  <tr>
    <td><%= mostsmallmob.id %></td>
    <td><%= mostsmallmob.mostsmallmobgene.name %></td>
    <td><%= mostsmallmob.level %></td>
    <td><%= mostsmallmob.mostsmalljob.name %></td>
    <td><%= mostsmallmob.job_level %></td>
    <td><%= mostsmallmob.mostsmalluser.name %></td>
    <td><%= mostsmallmob.mostsmallsquad.name unless mostsmallmob.mostsmallsquad.nil? %></td>
    <td><%= mostsmallmob.name %></td>
    <td><%= mostsmallmob.gender %></td>
    <td><%= mostsmallmob.age %></td>
    <td><%= mostsmallmob.hp %></td>
    <td><%= mostsmallmob.sp %></td>
    <td><%= mostsmallmob.str %></td>
    <td><%= mostsmallmob.dex %></td>
    <td><%= mostsmallmob.con %></td>
    <td><%= mostsmallmob.int %></td>
    <td><%= mostsmallmob.wis %></td>
    <td><%= mostsmallmob.cha %></td>
    <td><%= mostsmallmob.battle_exp.round(2) %></td>
    <td><%= mostsmallmob.job_exp.round(2) %></td>
    <td><%= link_to 'Show', mostsmallmob %></td>
    <td><%= link_to 'Edit', edit_mostsmallmob_path(mostsmallmob) %></td>
    <td><%= link_to 'Destroy', mostsmallmob, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallmob', new_mostsmallmob_path %>
