<h1>Listing mostsmallitemequipinventories</h1>

<table>
  <tr>
    <th>Mostsmallitem</th>
    <th>Mostsmallmob</th>
    <th>Mostsmallequipslot</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallitemequipinventories.each do |mostsmallitemequipinventory| %>
  <tr>
    <td><%= mostsmallitemequipinventory.mostsmallitem.name unless mostsmallitemequipinventory.mostsmallitem.nil? %></td>
    <td><%= mostsmallitemequipinventory.mostsmallmob.uname unless mostsmallitemequipinventory.mostsmallmob.nil? %></td>
    <td><%= mostsmallitemequipinventory.mostsmallequipslot.name unless mostsmallitemequipinventory.mostsmallequipslot.nil? %></td>
    <td><%= link_to 'Show', mostsmallitemequipinventory %></td>
    <td><%= link_to 'Edit', edit_mostsmallitemequipinventory_path(mostsmallitemequipinventory) %></td>
    <td><%= link_to 'Destroy', mostsmallitemequipinventory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallitemequipinventory', new_mostsmallitemequipinventory_path %>
