<%= form_for(@medium_mission_strategy) do |f| %>
  <% if @medium_mission_strategy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium_mission_strategy.errors.count, "error") %> prohibited this medium_mission_strategy from being saved:</h2>

      <ul>
      <% @medium_mission_strategy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medium_houdd_user %><br />
    <%= f.collection_select(:medium_houdd_user_id, MediumHouddUser.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :script %><br />
    <%= f.text_area :script %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
