<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmallresearch:</b>
  <%= @mostsmallresearchlvltbl.mostsmallresearch.name %>
</p>

<p>
  <b>Level:</b>
  <%= @mostsmallresearchlvltbl.level %>
</p>

<p>
  <b>Rp:</b>
  <%= @mostsmallresearchlvltbl.rp %>
</p>

<p>
  <b>Keep rp:</b>
  <%= @mostsmallresearchlvltbl.keep_rp %>
</p>


<%= link_to 'Edit', edit_mostsmallresearchlvltbl_path(@mostsmallresearchlvltbl) %> |
<%= link_to 'Back', mostsmallresearchlvltbls_path %>
