<h1>Listing mostsmallmissioninventories</h1>

<table>
  <tr>
    <th>Mostsmallmission</th>
    <th>Mostsmallsquad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallmissioninventories.each do |mostsmallmissioninventory| %>
  <tr>
    <td><%= mostsmallmissioninventory.mostsmallmission.name %></td>
    <td><%= mostsmallmissioninventory.mostsmallsquad.name %></td>
    <td><%= link_to 'Show', mostsmallmissioninventory %></td>
    <td><%= link_to 'Edit', edit_mostsmallmissioninventory_path(mostsmallmissioninventory) %></td>
    <td><%= link_to 'Destroy', mostsmallmissioninventory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallmissioninventory', new_mostsmallmissioninventory_path %>
