<h1>Listing mostsmallstrategies</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallstrategies.each do |mostsmallstrategy| %>
  <tr>
    <td><%= mostsmallstrategy.id %></td>
    <td><%= mostsmallstrategy.name %></td>
    <td><%= link_to 'Show', mostsmallstrategy %></td>
    <td><%= link_to 'Edit', edit_mostsmallstrategy_path(mostsmallstrategy) %></td>
    <td><%= link_to 'Destroy', mostsmallstrategy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallstrategy', new_mostsmallstrategy_path %>
