<%= form_for(@medium_job) do |f| %>
  <% if @medium_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium_job.errors.count, "error") %> prohibited this medium_job from being saved:</h2>

      <ul>
      <% @medium_job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :growth_penalty %><br />
    <%= f.text_field :growth_penalty %>
  </div>
  <div class="field">
    <%= f.label :wepon_lvl %><br />
    <%= f.number_field :wepon_lvl %>
  </div>
  <div class="field">
    <%= f.label :armor_lvl %><br />
    <%= f.number_field :armor_lvl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
