<%= form_for(@medium_status_mod) do |f| %>
  <% if @medium_status_mod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium_status_mod.errors.count, "error") %> prohibited this medium_status_mod from being saved:</h2>

      <ul>
      <% @medium_status_mod.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :str_mod %><br />
    <%= f.number_field :str_mod %>
  </div>
  <div class="field">
    <%= f.label :dex_mod %><br />
    <%= f.number_field :dex_mod %>
  </div>
  <div class="field">
    <%= f.label :con_mod %><br />
    <%= f.number_field :con_mod %>
  </div>
  <div class="field">
    <%= f.label :int_mod %><br />
    <%= f.number_field :int_mod %>
  </div>
  <div class="field">
    <%= f.label :wis_mod %><br />
    <%= f.number_field :wis_mod %>
  </div>
  <div class="field">
    <%= f.label :cha_mod %><br />
    <%= f.number_field :cha_mod %>
  </div>
  <div class="field">
    <%= f.label :ele_fw_mod %><br />
    <%= f.number_field :ele_fw_mod %>
  </div>
  <div class="field">
    <%= f.label :ele_ld_mod %><br />
    <%= f.number_field :ele_ld_mod %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
