<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medium_status_mod.name %>
</p>

<p>
  <b>HP mod:</b>
  <%= @medium_status_mod.hp_mod %>
</p>

<p>
  <b>Str mod:</b>
  <%= @medium_status_mod.str_mod %>
</p>

<p>
  <b>Dex mod:</b>
  <%= @medium_status_mod.dex_mod %>
</p>

<p>
  <b>Con mod:</b>
  <%= @medium_status_mod.con_mod %>
</p>

<p>
  <b>Int mod:</b>
  <%= @medium_status_mod.int_mod %>
</p>

<p>
  <b>Wis mod:</b>
  <%= @medium_status_mod.wis_mod %>
</p>

<p>
  <b>Cha mod:</b>
  <%= @medium_status_mod.cha_mod %>
</p>

<p>
  <b>Ele fw mod:</b>
  <%= @medium_status_mod.ele_fw_mod %>
</p>

<p>
  <b>Ele ld mod:</b>
  <%= @medium_status_mod.ele_ld_mod %>
</p>


<%= link_to 'Edit', edit_medium_status_mod_path(@medium_status_mod) %> |
<%= link_to 'Back', medium_status_mods_path %>
