<h1>Listing smallstrategies</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smallstrategies.each do |smallstrategy| %>
  <tr>
    <td><%= smallstrategy.id %></td>
    <td><%= smallstrategy.name %></td>
    <td><%= link_to 'Show', smallstrategy %></td>
    <td><%= link_to 'Edit', edit_smallstrategy_path(smallstrategy) %></td>
    <td><%= link_to 'Destroy', smallstrategy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smallstrategy', new_smallstrategy_path %>
