<%= form_for(@medium_body_part_inv) do |f| %>
  <% if @medium_body_part_inv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medium_body_part_inv.errors.count, "error") %> prohibited this medium_body_part_inv from being saved:</h2>

      <ul>
      <% @medium_body_part_inv.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medium_specie %><br />
    <%= f.collection_select(:medium_specie_id, MediumSpecie.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :medium_body_part %><br />
    <%= f.collection_select(:medium_body_part_id, MediumBodyPart.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="field">
    <%= f.label :num_of_tgt %><br />
    <%= f.number_field :num_of_tgt %>
  </div>
  <div class="field">
    <%= f.label :medium_atk_info %><br />
    <%= f.collection_select(:medium_atk_info_id, MediumAtkInfo.find(:all), :id, :name, :include_blank => true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
