<h1>Listing medium_mission_invs</h1>

<table>
  <tr>
    <th>Medium mission</th>
    <th>Medium squad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medium_mission_invs.each do |medium_mission_inv| %>
  <tr>
    <td><%= medium_mission_inv.medium_mission.name unless medium_mission_inv.medium_mission.blank? %></td>
    <td><%= medium_mission_inv.medium_squad.name unless medium_mission_inv.medium_squad.blank? %></td>
    <td><%= link_to 'Show', medium_mission_inv %></td>
    <td><%= link_to 'Edit', edit_medium_mission_inv_path(medium_mission_inv) %></td>
    <td><%= link_to 'Destroy', medium_mission_inv, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medium mission inv', new_medium_mission_inv_path %>
