<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmalliteminfo:</b>
  <%= @mostsmallitemeffectinventory.mostsmalliteminfo.name %>
</p>

<p>
  <b>Mostsmalleffect:</b>
  <%= @mostsmallitemeffectinventory.mostsmalleffect.name %>
</p>


<%= link_to 'Edit', edit_mostsmallitemeffectinventory_path(@mostsmallitemeffectinventory) %> |
<%= link_to 'Back', mostsmallitemeffectinventories_path %>
