<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmalltrapinfo.mostsmallelement.name %>
</p>

<p>
  <b>Name:</b>
  <%= @mostsmalltrapinfo.name %>
</p>

<p>
  <b>Const period:</b>
  <%= @mostsmalltrapinfo.const_period %>
</p>


<%= link_to 'Edit', edit_mostsmalltrapinfo_path(@mostsmalltrapinfo) %> |
<%= link_to 'Back', mostsmalltrapinfos_path %>
