<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mosttinymobinfo.name %>
</p>

<p>
  <b>Category:</b>
  <%= @mosttinymobinfo.category %>
</p>

<p>
  <b>Hp:</b>
  <%= @mosttinymobinfo.hp %>
</p>

<p>
  <b>High Atk:</b>
  <%= @mosttinymobinfo.high_atk %>
</p>

<p>
  <b>Low Atk:</b>
  <%= @mosttinymobinfo.low_atk %>
</p>

<p>
  <b>Def:</b>
  <%= @mosttinymobinfo.def %>
</p>

<p>
  <b>Agi:</b>
  <%= @mosttinymobinfo.agi %>
</p>


<%= link_to 'Edit', edit_mosttinymobinfo_path(@mosttinymobinfo) %> |
<%= link_to 'Back', mosttinymobinfos_path %>
