<p id="notice"><%= notice %></p>

<p>
  <b>Mostsmallskill:</b>
  <%= @mostsmallskilllvltbl.mostsmallskill.name %>
</p>

<p>
  <b>Level:</b>
  <%= @mostsmallskilllvltbl.level %>
</p>

<p>
  <b>Sp cost:</b>
  <%= @mostsmallskilllvltbl.sp_cost %>
</p>

<p>
  <b>Num of tgt:</b>
  <%= @mostsmallskilllvltbl.num_of_tgt %>
</p>

<p>
  <b>Accuracy:</b>
  <%= @mostsmallskilllvltbl.accuracy %>
</p>

<p>
  <b>Range:</b>
  <%= @mostsmallskilllvltbl.range %>
</p>

<p>
  <b>Damage:</b>
  <%= @mostsmallskilllvltbl.damage %>
</p>


<%= link_to 'Edit', edit_mostsmallskilllvltbl_path(@mostsmallskilllvltbl) %> |
<%= link_to 'Back', mostsmallskilllvltbls_path %>
