<h1>Listing moresmallstrategies</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moresmallstrategies.each do |moresmallstrategy| %>
  <tr>
    <td><%= moresmallstrategy.id %></td>
    <td><%= moresmallstrategy.name %></td>
    <td><%= link_to 'Show', moresmallstrategy %></td>
    <td><%= link_to 'Edit', edit_moresmallstrategy_path(moresmallstrategy) %></td>
    <td><%= link_to 'Destroy', moresmallstrategy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moresmallstrategy', new_moresmallstrategy_path %>
