<%= form_for(@mosttinybattle) do |f| %>
  <% if @mosttinybattle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mosttinybattle.errors.count, "error") %> prohibited this mosttinybattle from being saved:</h2>

      <ul>
      <% @mosttinybattle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mosttinyturn %><br />
    <%= f.text_field :mosttinyturn %>
  </div>
  <div class="field">
    <%= f.label :src_mob_id %><br />
    <%= f.number_field :src_mob_id %>
  </div>
  <div class="field">
    <%= f.label :tgt_mob_id %><br />
    <%= f.number_field :tgt_mob_id %>
  </div>
  <div class="field">
    <%= f.label :damage_to_tgt %><br />
    <%= f.number_field :damage_to_tgt %>
  </div>
  <div class="field">
    <%= f.label :log %><br />
    <%= f.text_area :log %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
