<h1>Listing medium_mobs</h1>

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Specie</th>
    <th>Job</th>
    <th>Squad</th>
    <th>Level</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Hp</th>
    <th>Sp</th>
    <th>Str</th>
    <th>Dex</th>
    <th>Con</th>
    <th>Int</th>
    <th>Wis</th>
    <th>Cha</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medium_mobs.each do |medium_mob| %>
  <tr>
    <td><%= medium_mob.id %></td>
    <td><%= medium_mob.medium_houdd_user.name unless medium_mob.medium_houdd_user.blank? %></td>
    <td><%= medium_mob.medium_specie.name unless medium_mob.medium_specie.blank? %></td>
    <td><%= medium_mob.medium_job.name unless medium_mob.medium_job.blank? %></td>
    <td><%= medium_mob.medium_squad.name unless medium_mob.medium_squad.blank? %></td>
    <td><%= medium_mob.level %></td>
    <td><%= medium_mob.name %></td>
    <td><%= medium_mob.gender_sym %></td>
    <td><%= medium_mob.age %></td>
    <td><%= medium_mob.hp %></td>
    <td><%= medium_mob.sp %></td>
    <td><%= medium_mob.str %></td>
    <td><%= medium_mob.dex %></td>
    <td><%= medium_mob.con %></td>
    <td><%= medium_mob.int %></td>
    <td><%= medium_mob.wis %></td>
    <td><%= medium_mob.cha %></td>
    <td><%= link_to 'Show', medium_mob %></td>
    <td><%= link_to 'Edit', edit_medium_mob_path(medium_mob) %></td>
    <td><%= link_to 'Destroy', medium_mob, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medium mob', new_medium_mob_path %>
