<%= form_for(@mostsmallequipslot) do |f| %>
  <% if @mostsmallequipslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mostsmallequipslot.errors.count, "error") %> prohibited this mostsmallequipslot from being saved:</h2>

      <ul>
      <% @mostsmallequipslot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :is_hand %><br />
    <%= f.check_box :is_hand %>
  </div>
  <div class="field">
    <%= f.label :num_of_tgt %><br />
    <%= f.number_field :num_of_tgt %>
  </div>
  <div class="field">
    <%= f.label :accuracy %><br />
    <%= f.number_field :accuracy %>
  </div>
  <div class="field">
    <%= f.label :range %><br />
    <%= f.number_field :range %>
  </div>
  <div class="field">
    <%= f.label :damage %><br />
    <%= f.number_field :damage %>
  </div>
  <div class="field">
    <%= f.label :ac %><br />
    <%= f.number_field :ac %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
