<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallequipslot.name %>
</p>

<p>
  <b>Is hand:</b>
  <%= @mostsmallequipslot.is_hand %>
</p>


<%= link_to 'Edit', edit_mostsmallequipslot_path(@mostsmallequipslot) %> |
<%= link_to 'Back', mostsmallequipslots_path %>
