<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mostsmallequipslot.name %>
</p>

<p>
  <b>Is hand:</b>
  <%= @mostsmallequipslot.is_hand %>
</p>

<p>
  <b>Num of tgt:</b>
  <%= @mostsmallequipslot.num_of_tgt %>
</p>

<p>
  <b>Accuracy:</b>
  <%= @mostsmallequipslot.accuracy %>
</p>

<p>
  <b>Range:</b>
  <%= @mostsmallequipslot.range %>
</p>

<p>
  <b>Damage:</b>
  <%= @mostsmallequipslot.damage %>
</p>

<p>
  <b>Ac:</b>
  <%= @mostsmallequipslot.ac %>
</p>


<%= link_to 'Edit', edit_mostsmallequipslot_path(@mostsmallequipslot) %> |
<%= link_to 'Back', mostsmallequipslots_path %>
