<div id="mob_status_column1">性別：<%= @mob.gender_sym %></div>
<div id="mob_status_column2">年齢：<%= @mob.age %></div>
<div id="mob_status_column1">HP：<%= @mob.con %>/<%= @mob.hp %></div>
<div id="mob_status_column2">SP：<%= @mob.int %>/<%= @mob.sp %></div>
<div id="mob_status_column1">STR：<%= @mob.str %></div>
<div id="mob_status_column2">DEX：<%= @mob.dex %></div>
<div id="mob_status_column1">CON：<%= @mob.con %></div>
<div id="mob_status_column2">INT：<%= @mob.int %></div>
<div id="mob_status_column1">WIS：<%= @mob.wis %></div>
<div id="mob_status_column2">CHA：<%= @mob.cha %></div>
<div id="mob_status_column1">物理防御力：<%= @mob.phys_def %></div>
<div id="mob_status_column2">スキル防御力：<%= @mob.skill_def %></div>
<div id="mob_status_column1">属性修正（火⇔水）：<%= @mob.ele_fw_mod %></div>
<div id="mob_status_column2">属性修正（光⇔闇）：<%= @mob.ele_ld_mod %></div>
<div id="mob_status_popup_close2">OK</div>