<h1>Listing medium_houdd_users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Admin</th>
    <th>Login</th>
    <th>Last login</th>
    <th>Wepon lvl</th>
    <th>Armor lvl</th>
    <th>Potion lvl</th>
    <th>Trap lvl</th>
    <th>Skill lvl</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medium_houdd_users.each do |medium_houdd_user| %>
  <tr>
    <td><%= medium_houdd_user.name %></td>
    <td><%= medium_houdd_user.admin_flg %></td>
    <td><%= medium_houdd_user.login_id %></td>
    <td><%= medium_houdd_user.last_login_at %></td>
    <td><%= medium_houdd_user.wepon_lvl %></td>
    <td><%= medium_houdd_user.armor_lvl %></td>
    <td><%= medium_houdd_user.potion_lvl %></td>
    <td><%= medium_houdd_user.trap_lvl %></td>
    <td><%= medium_houdd_user.skill_lvl %></td>
    <td><%= link_to 'Show', medium_houdd_user %></td>
    <td><%= link_to 'Edit', edit_medium_houdd_user_path(medium_houdd_user) %></td>
    <td><%= link_to 'Destroy', medium_houdd_user, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'MyPage', mypage_top_medium_houdd_user_path(medium_houdd_user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medium houdd user', new_medium_houdd_user_path %>
