<%= form_for @medium_houdd_user, :url => {:action => 'update_allotments'} do |f| %>
  <%= render 'mypage_menu' %>
  <div id="contents">
    <h3>資源収支</h3>
    <div class="resources">
      <div class="resource">
        <img class="resource" src="/assets/bread.png" />
        <p class="resource"><%= @medium_houdd_user.food_total %></p>
      </div>
      <div class="resource">
        <img class="resource" src="/assets/hammer.png" />
        <p class="resource"><%= @medium_houdd_user.hammer_total %></p>
      </div>
      <div class="resource">
        <img class="resource" src="/assets/gold.png" />
        <p class="resource"><%= @medium_houdd_user.gold_total %></p>
      </div>
    </div>
    <h3>生産力配分</h3>
    <div class="allotments">
      <p class="allotment">建築物：<%= f.number_field :allot_for_const, :class=>'percent' %>％　アイテム：<%= f.number_field :allot_for_item, :class=>'percent' %>％　研究：<%= f.number_field :allot_for_research, :class=>'percent' %>％　<%= f.submit "割り当て変更" %></p>
    </div>
    <h3>生産状況</h3>
    <div class="allotments">
      <p class="allotment">建築中： <br />
        <% @medium_houdd_user.under_constructions.each do |under_const| %>
        　　<%= under_const %><br />
        <% end %>
      </p>
      <p class="allotment">アイテム製造中：</p>
      <p class="allotment">研究中：<br />
        　　武器：<%= @research_wepon.allotment %>%<br />
        　　防具：<%= @research_armor.allotment %>%<br />
        　　薬：<%= @research_potion.allotment %>%<br />
        　　トラップ：<%= @research_trap.allotment %>%<br />
      </p>
    </div>
  </div>
<% end %>