<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medium_houdd_user.name %>
</p>

<p>
  <b>Admin flg:</b>
  <%= @medium_houdd_user.admin_flg %>
</p>

<p>
  <b>Login:</b>
  <%= @medium_houdd_user.login_id %>
</p>

<p>
  <b>Login pw:</b>
  <%= @medium_houdd_user.login_pw %>
</p>

<p>
  <b>First login at:</b>
  <%= @medium_houdd_user.first_login_at %>
</p>

<p>
  <b>Last login at:</b>
  <%= @medium_houdd_user.last_login_at %>
</p>

<p>
  <b>Wepon lvl:</b>
  <%= @medium_houdd_user.wepon_lvl %>
</p>

<p>
  <b>Armor lvl:</b>
  <%= @medium_houdd_user.armor_lvl %>
</p>

<p>
  <b>Potion lvl:</b>
  <%= @medium_houdd_user.potion_lvl %>
</p>

<p>
  <b>Trap lvl:</b>
  <%= @medium_houdd_user.trap_lvl %>
</p>

<p>
  <b>Skill lvl:</b>
  <%= @medium_houdd_user.skill_lvl %>
</p>

<p>
  <b>Next item:</b>
  <%= @medium_houdd_user.next_item_id %>
</p>

<p>
  <b>Prod for item:</b>
  <%= @medium_houdd_user.prod_for_item %>
</p>

<p>
  <b>Next const:</b>
  <%= @medium_houdd_user.next_const_id %>
</p>

<p>
  <b>Prod for const:</b>
  <%= @medium_houdd_user.prod_for_const %>
</p>

<p>
  <b>Next research sym:</b>
  <%= @medium_houdd_user.next_research_sym %>
</p>

<p>
  <b>Prod for research:</b>
  <%= @medium_houdd_user.prod_for_research %>
</p>


<%= link_to 'Edit', edit_medium_houdd_user_path(@medium_houdd_user) %> |
<%= link_to 'Back', medium_houdd_users_path %>
