<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @medium_houdd_user.name %>
</p>

<p>
  <b>Admin flg:</b>
  <%= @medium_houdd_user.admin_flg %>
</p>

<p>
  <b>Login:</b>
  <%= @medium_houdd_user.login_id %>
</p>

<p>
  <b>Login pw:</b>
  <%= @medium_houdd_user.login_pw %>
</p>

<p>
  <b>First login at:</b>
  <%= @medium_houdd_user.first_login_at %>
</p>

<p>
  <b>Last login at:</b>
  <%= @medium_houdd_user.last_login_at %>
</p>

<%= link_to 'Edit', edit_medium_houdd_user_path(@medium_houdd_user) %> |
<%= link_to 'Back', medium_houdd_users_path %>
