<h1>Listing moretinymobtrails</h1>

<table>
  <tr>
    <th>Moretinymob</th>
    <th>Trail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moretinymobtrails.each do |moretinymobtrail| %>
  <tr>
    <td><%= moretinymobtrail.moretinymob_id %></td>
    <td><%= moretinymobtrail.trail %></td>
    <td><%= link_to 'Show', moretinymobtrail %></td>
    <td><%= link_to 'Edit', edit_moretinymobtrail_path(moretinymobtrail) %></td>
    <td><%= link_to 'Destroy', moretinymobtrail, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moretinymobtrail', new_moretinymobtrail_path %>
