<p id="notice"><%= notice %></p>

<p>
  <b>Moretinymob:</b>
  <%= @moretinymobtrail.moretinymob_id %>
</p>

<p>
  <b>Trail:</b>
  <%= @moretinymobtrail.trail %>
</p>


<%= link_to 'Edit', edit_moretinymobtrail_path(@moretinymobtrail) %> |
<%= link_to 'Back', moretinymobtrails_path %>
