<h1>Listing mostsmallresearches</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mostsmallresearches.each do |mostsmallresearch| %>
  <tr>
    <td><%= mostsmallresearch.id %></td>
    <td><%= mostsmallresearch.name %></td>
    <td><%= link_to 'Show', mostsmallresearch %></td>
    <td><%= link_to 'Edit', edit_mostsmallresearch_path(mostsmallresearch) %></td>
    <td><%= link_to 'Destroy', mostsmallresearch, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mostsmallresearch', new_mostsmallresearch_path %>
