<h1>Listing smalltrialstatuses</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @smalltrialstatuses.each do |smalltrialstatus| %>
  <tr>
    <td><%= smalltrialstatus.id %></td>
    <td><%= smalltrialstatus.name %></td>
    <td><%= link_to 'Show', smalltrialstatus %></td>
    <td><%= link_to 'Edit', edit_smalltrialstatus_path(smalltrialstatus) %></td>
    <td><%= link_to 'Destroy', smalltrialstatus, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Smalltrialstatus', new_smalltrialstatus_path %>
